{
    menu: [
        {name: "map",
         description: "地図",
         items: [
             {title: "経路を探す",
              pages: [
                  "file:///sdcard/settings/map/経路を探す/1.png",
                  "file:///sdcard/settings/map/経路を探す/2.png",
                  "file:///sdcard/settings/map/経路を探す/3.png",
                  "file:///sdcard/settings/map/経路を探す/4.png",
                  "file:///sdcard/settings/map/経路を探す/5.png",
                  "file:///sdcard/settings/map/経路を探す/6.png",
                  "file:///sdcard/settings/map/経路を探す/7.png",
                  "file:///sdcard/settings/map/経路を探す/8.png"]},
             {title: "近くの○○を探す",
              pages: ["file:///sdcard/settings/map/近くの○○を探す/1.png",
                      "file:///sdcard/settings/map/近くの○○を探す/2.png",
                      "file:///sdcard/settings/map/近くの○○を探す/3.png",
                      "file:///sdcard/settings/map/近くの○○を探す/4.png",
                      "file:///sdcard/settings/map/近くの○○を探す/5.png"]}
         ]},
         {name: "basic",
         description: "基本操作",
          items: [
              {title: "基本操作・最初に戻す",
               pages:[
                   "file:///sdcard/settings/basic/基本操作・最初に戻す/1.png",
                   "file:///sdcard/settings/basic/基本操作・最初に戻す/2.png",
                   "file:///sdcard/settings/basic/基本操作・最初に戻す/3.png"]
              },
              {title: "電源を切る・再起動",
               pages:[
                   "file:///sdcard/settings/basic/電源を切る・再起動/1.png",
                   "file:///sdcard/settings/basic/電源を切る・再起動/2.png",
                   "file:///sdcard/settings/basic/電源を切る・再起動/3.png"]
              },
              {title: "画面を康行に見せる",
               pages:[
                   "file:///sdcard/settings/basic/画面を康行に見せる/1.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/2.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/3.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/4.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/5.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/6.png",
                   "file:///sdcard/settings/basic/画面を康行に見せる/7.png"]
              },
              {title: "画面がおかしくなった",
               pages:["file:///sdcard/settings/basic/画面がおかしくなった/1.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/2.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/3.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/4.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/5.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/6.png",
                      "file:///sdcard/settings/basic/画面がおかしくなった/7.png"]
              }
         ]},
         {name: "line",
         description: "ライン",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
         {name: "notify",
         description: "通知",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
         {name: "novel",
         description: "小説",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
         {name: "search",
         description: "検索",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
         {name: "tools",
         description: "その他",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
         {name: "recovery",
         description: "復旧",
         items: [
             {title: "電車での行き方を調べる",
              pages: ["file:///sdcard/settings/map/経路を探す/1.png"]}
         ]},
        {name: "mail",
         description: "メール",
         items: [
             {title: "受け取ったメールを見る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3APictures%2FScreenshots%2FSVID_20180815_231510.mp4"]},
             {title: "受け取ったメールに返信する",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]},
             {title: "相手を指定してメールを送る, そして相手を指定してメールを送る, あと相手を指定してメールを送る",
              pages: ["content://com.android.externalstorage.documents/document/primary%3ADownload%2Fflower.jpg"]}
         ]}
    ]
}
